[Unit]
Description=VRSVP Discord Bot
Requires=network.target

[Service]
Environment="VRSVP_DISCORD_BOT_SECRET_TOKEN={{ secret.vrsvp.bot }}"
Environment="SENTRY_DSN={{ secret.vrsvp.sentry }}"
ExecStart=/home/mobius_k/vrsvp/vrsvp-{{ server.vrsvp.version }}/bin/vrsvp

[Install]
WantedBy=multi-user.target
