AddKeysToAgent yes
ServerAliveInterval 120
User {{ ansible_user_id }}

Host github.com
	IdentityFile ~/.ssh/id_github

{% for server in local.servers %}
Host {{ server.name }}
	IdentityFile {{ server.key }}
	HostName {{ server.ip }}
{% endfor %}
