AddKeysToAgent yes
ServerAliveInterval 120
User {{ ansible_user_id }}

Host github.com
	IdentityFile ~/.ssh/id_git

{% for server in local.servers %}
Host {{ server.name }}
	IdentityFile ~/.ssh/id_rsa
	HostName {{ server.ip }}
{% endfor %}
